.container{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
input{
    border:none;
    outline:none;  
    border-bottom: 2px solid grey;
    font-size: 24px;
}

.btn{
    padding:15px 40px;
    margin-left:30px;
    border-radius:10px;
    color: white;
    border: none;
    font-weight: 600;
}

.btnSubmit{
    background-color:rgb(73, 156, 73);
    font-size: 18px;
}
.btnSubmit:hover{
    background-color:rgb(0, 158, 0);
}
.btnDelete{
    margin-left:30px;
    background-color: rgb(236, 77, 77);
    font-size: 15px;

}
.btnDelete:hover{
    background-color: rgb(141, 0, 0);
}
.Allist{
    position: relative;
    top:20px;
    list-style-type: none;
    min-width: 420px;
    background-color: beige;
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:15px;
    /* border-bottom: 2px solid lightgray; */
}
.text{
    font-size: 23px;
}